* {box-sizing: border-box;
}

body {
    background: lightgrey;  
}

h1 {
   color: black;
    font-size: 35px;
    font-style: oblique;
}

h2 {
    color: maroon;
    font-size: 35px;
    font-style: oblique;
}

p {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

li {
    color:blue;
    font-style: normal;
    font-size: 18px;
    list-style: none;
}

.square {
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    background: lightgoldenrodyellow;
    border: dotted lightseagreen 5px;
    margin: 0 auto;
    padding: 15px;
    color: tomato;
    
}

.square:hover {
    height: 300px;
    background-color: mediumorchid;
}


